<h1> Room: {{ roomName }} </h1>
<p>
    The room you are visiting is {{ roomName }}
</p>
<p>To generate a new room, here is the room id: {{ newRoomId }}</p>

<form>

<form action="/sendChat" method="POST">
    <input type="text" name="chatMessage" placeholder="Send a message!"/>
    <input type="submit" id="sendButton" value="Send"/> 
    <input type="hidden" name="roomName" id="roomName" value={{roomName}}/> 
    <input type="hidden" name="username" id="user" value=""/>
</form> 

<div id="message-container">
        {{!-- {{#if isAvailable}} --}}
        <ul id="messageList" class="messageList">
            {{#each messages}}
                {{!-- <li id={{this._id}}>  --}}
                    <ul>
                        <li class="chatMessage"><h1>{{this.user}}</h1><h2>({{this.timestamp}})</h2><p>: {{this.message}}</p></li>
                    </ul>
                {{!-- </li> --}}
            {{/each}}
        </ul>
        {{!-- {{/if}} --}}
    </div>
</div>

</form>

<script>
    while (true) {
        var user = prompt("Enter a nickname")
        if (user && !(user.trim() === "")) {
            document.getElementById("user").value = user;
            //console.log(document.getElementById("user").value)
            break;
        } else {
            alert('Enter a nickname');
        }
    }

    var room = document.getElementById("roomName");
    interval = window.setInterval(function() {
        fetch(`http://localhost:8080/pullMessages`).then(function(elements) {
            elements.json().then((jsonResponse) => {

                let messageList = document.getElementById('messageList')
                let messageListChildren = messageList.children

                console.log(messageList);



                for (let i = 0; i < jsonResponse.length; ++i) {
                    if (jsonResponse[i].room === room.value) {
                        //console.log(jsonResponse[i])
                        //console.log(jsonResponse[i].user)
                        //console.log(jsonResponse[i].timestamp)
                        //console.log(jsonResponse[i].message)
                        let chatMessageInnerList = document.createElement('ul')
                        let chatMessageBodyText = document.createElement('li')

                        chatMessageBodyText.className = "chatMessage"
                        chatMessageBodyText.innerHTML = `<h1>${jsonResponse[i].user}</h1> <h2>(${jsonResponse[i].timestamp})</h2><p>: ${jsonResponse[i].message}</p>`

                        //console.log(chatMessageBodyText.innerHTML)

                        messageList.appendChild(chatMessageBodyText)
                        console.log(`new chat added to message list`)
                    }
                }

            })
        })
    }, 3000);
</script> 