<h1> Room </h1>
<p>This is a demo of chatroom page</p>
<p>
    The room you are visiting is {{ roomName }}
</p>
<p>To generate a new room, here is the room id {{ id }}</p>

<form action="/sendChat" method="POST">
<input type="text" name="chatMessage" placeholder="Send a message!"/>
<input type="submit" id="sendButton" value="Send"/> 
<input type="hidden" name="roomName" id="roomName" value={{roomName}}/> 
<input type="hidden" name="id" id="id" value={{id}}/>
<input type="hidden" name="username" id="user" value=""/>
</form>

<form>
<div id="message-container">
        <ul id="messageList" class="messageList">
            <li id={{this._id}}> 
            {{#each messages}}
                    <ul>
                        <li class="chatMessage"><h1>{{this.username}}</h1><p>: {{this.chatMessage}}</p></li>
                        <li class="chatMessage"><h1>{{this.user}}</h1><h2>({{this.timestamp}})</h2><p>: {{this.message}}</p></li>
                    </ul>
                </li>
            {{/each}}
        </ul>
</div>
</form>

<script>
    while (true) {
        var user = prompt("Enter a nickname")
        if (user && !(user.trim() === "")) {
            document.getElementById("user").value = user;
            break;
        } else {
            alert('Enter a nickname');
        }
    }

    var room = document.getElementById("roomName");

    var roomID = document.getElementById("id").value;
    //console.log(roomID);
    interval = window.setInterval(function() {
        fetch(`http://localhost:8080/pullMessages`).then(function(elements) {
            elements.json().then((jsonResponse) => {

                let messageList = document.getElementById('messageList')
                let messageListChildren = messageList.children
                let childArray = Array.from(messageListChildren)

                for (let i = 0; i < jsonResponse.length; ++i) {
                    let newMessage = true
                    if (jsonResponse[i].room === roomID) {
                        let chatMessageInnerList = document.createElement('ul')
                        let chatMessageBodyText = document.createElement('li')
                        chatMessageBodyText.className = "chatMessage"
                        chatMessageBodyText.innerHTML = `<h1>${jsonResponse[i].user}</h1> <h2>(${jsonResponse[i].timestamp})</h2><p>: ${jsonResponse[i].message}</p>`
                        for (let j = 0; j < messageListChildren.length; j++) {
                            if (messageListChildren[j].innerHTML === chatMessageBodyText.innerHTML) {
                                newMessage = false
                            }
                        }
                        if (newMessage) {
                            messageList.appendChild(chatMessageBodyText)
                        }
                    }
                }
            })
        })
    }, 500);
</script>